.home-content {
  padding: 0 2rem;
}

.home-welcome {
  display: flex;
  align-items: center;
}

.home-welcome-travely-logo-img {
  height: 8rem;
}

.home-welcome-filter-bar {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.home-filter-input-width {
  width: 100%;
}

.home-title-spacing {
  margin-top: 3rem;
}

.home-welcome-carousel-img {
  width: -webkit-fill-available;
}

:deep(.slick-slide) {
  text-align: center;
  height: 40vw;
  line-height: 40vw;
  background: #364d79;
  overflow: hidden;
}

:deep(.slick-arrow.custom-slick-arrow) {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(31, 45, 61, 0.11);
  transition: ease all 0.3s;
  opacity: 0.3;
  z-index: 1;
}

:deep(.slick-arrow.custom-slick-arrow:before) {
  display: none;
}

:deep(.slick-arrow.custom-slick-arrow:hover) {
  color: #fff;
  opacity: 0.5;
}
